<!DOCTYPE html>
<html>
  <head>
    <title>Fintros</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet"> 
    <%= favicon_link_tag 'https://fintros.com/assets/favicon-72b33f63e85cae7db9e740f6042a777c99918074d304a286680b4607e09a610e.ico' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
